.container{
  font-family: "Bahnschrift";
}
.frase {
  font-size: 1.4em;
}
.campo-digitacao{
  font-size: 1.2em;
  height: 150px;
  border: 3px solid black;
}
.campo-desativado{
  background-color:lightgray;
}
.icones{
  vertical-align: middle;
}
.borda-vermelha{
  border: 3px solid red;
}
.borda-verde{
  border: 3px solid green;
}
